.footer {
    background-color: #f5f7fa;
  color: #0f0f0f;
  text-align: center;
  padding: 1.5rem 0;
  font-family: 'Comfortaa', cursive;
  width: 100%;
  margin-top: auto; 
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.copy {
  font-size: 0.95rem;
  opacity: 0.9;
  margin: 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.socialIcons a {
  color: #000;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.socialIcons a:hover {
  color: #00bcd4;
  transform: translateY(-3px);
}
